// *** EmptyLayour ***********************************************
.EmptyLayout, .emptyLayout
  margin: 0 auto
  padding: var(--cyan-gap-layout)
  display: flex
  flex-direction: row
  flex-wrap: wrap
  gap: var(--cyan-gap-layout)