@import ../core/layout-breakpoints
@import ../layout/layout-vars

// Box Sizes
$box-small: 272px
$box-medium: 440px
$box-large: 712px

// Medium and a small is 
$container-width-tablet: calc($box-medium + var(--cn-gap) + $box-small)
// Medium, and two small is 1008px
// Large and a small is 996px
// Two mediums is  892px
$container-width-desktop: calc($box-medium + var(--cn-gap) + $box-small + var(--cn-gap) + $box-small)
// 1008px


/* 
 * The default container, used for mobile and small screens
 */
.container
  margin: calc(var(--cn-page-grid) / 2) // 12px
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  padding: 0
  position: relative
  gap: var(--cn-gap)

// Consecutive containers should have a gap
.container + .container
  margin-top: var(--cn-page-grid)

/*
 * The default column, used for mobile and small screens
 */
.container
  .column
    display: block
    flex-grow: 1
    width: 100%

// Container has gap-sized horizontal margins for small screens
@include media-query-sm
  .container
    margin: calc(var(--cn-page-grid) / 2) var(--cn-gap)

// Container and columns for the medium screen
@include media-query-md
  .container
    margin: calc(var(--cn-page-grid) / 2) var(--cn-gap)
    flex-direction: row
    
    .column
      width: $box-medium
      flex-grow: 0
      flex-shrink: 0
    .column.small
      width: $box-small
    .column.large
      width: $box-large
    .column.auto
      flex-grow: 1

// Container behaves differently on md and wd screens
@include media-query-wd
  .container
    margin: 0 auto
    width: min($container-width-tablet, calc(100dvw - var(--cn-width-rail) - 2 * 16px))
    flex-direction: row
    flex-wrap: nowrap

    justify-content: center
    align-items: flex-start
    .column
      width: $box-medium
      flex-grow: 0
      flex-shrink: 0
    .column.small
      width: $box-small
    .column.large
      width: $box-large

//Container md- prefixed classes for the Medium screen only
@include media-query-md
  .container
    .column.md-small
      width: $box-small
    .column.md-medium
      width: $box-medium
    .column.md-large
      width: $box-large
    .column.md-auto
      width: auto

//Container wd- prefixed classes for the Large screen only
@include media-query-wd
  .container
    .column.wd-small
      width: $box-small
    .column.wd-medium
      width: $box-medium
    .column.wd-large
      width: $box-large
    .column.wd-auto
      flex-grow: 1


