.cyan
  --cn-page-grid: 24px
  --cn-margin: 12px
  --cn-padding: 12px
  --cn-gap-row: 24px
  --cn-gap-column: 16px
  --cn-gap-toolbar: 8px

  // Default gap: 16px
  --cn-gap: calc(var(--cn-page-grid) * 3 / 4)

  // Navigation Rail
  --cn-width-rail: 80px

  // Navigation Tray
  --cn-width-tray: 210px

  // Navigation bar
  --cn-height-navigation-bar: 64px

  // Z-index
  --cyan-z-index-base: 1000
  --cyan-z-index-navigation: calc( 10 *  var(--cyan-z-index-base) )
  --cyan-z-index-tray: calc( 20 *  var(--cyan-z-index-base) )
  // Rail is on top of the tray, to enable tray to slide under the rail
  --cn-z-index-rail: calc( 30 *  var(--cyan-z-index-base) ) 
  // Dialog is on top of everything except snack
  --cyan-z-index-dialog: calc( 90 *  var(--cyan-z-index-base) )
  // Snack is on top of everything
  --cyan-z-index-snack: calc( 100 *  var(--cyan-z-index-base) ) 


  // Input styling
  --cn-border-radius-input-field: 0 calc(var(--cn-page-grid) / 2 ) 0 0
