:root
  --cyan-color-nav-menu-button-background: hsla(var(--chroma-secondary-i-hsl), 0)
  --cyan-color-nav-menu-button-background-hover: hsla(var(--chroma-primary-i-hsl), 0.11)
  --cyan-color-nav-menu-button-background-active: hsla(var(--chroma-primary-i-hsl), 0.22)
  --cyan-color-nav-menu-button-indicator: var(--chroma-secondary-i)