.cyan--mode--light
  // Tags
  --cyan-background-tag: var(--chroma-secondary-i)
  // FAB
  --cyan-background-fab: var(--chroma-primary-h)
.cyan--mode--dark, .chroma-box-a
  // Tags
  --cyan-background-tag: var(--chroma-secondary-c)
  // FAB
  --cyan-background-fab: var(--chroma-primary-h)

