.cyan--mode--light
  --cyan-color-field: var(--chroma-secondary-a)
  // Background
  --cyan-background-field: var(--chroma-secondary-i)
  --cyan-background-field-hover: var(--chroma-secondary-h)
  --cyan-background-field-active: var(--chroma-secondary-i)
  --cyan-background-field-disabled: var(--chroma-secondary-i)
  --cyan-background-field-error: var(--chroma-alert-field-tint)
  // Border
  --cyan-border-color-field: var(--chroma-secondary-e)
  --cyan-border-color-field-hover: var(--chroma-secondary-f)
  --cyan-border-color-field-active: var(--chroma-secondary-g)
  --cyan-border-color-field-disabled: var(--chroma-secondary-h)
  --cyan-border-color-field-error: var(--chroma-alert)

.cyan--mode--dark
  --cyan-color-field: var(--chroma-secondary-i)
  // Background
  --cyan-background-field: var(--chroma-secondary-b)
  --cyan-background-field-hover: var(--chroma-secondary-c)
  --cyan-background-field-active: var(--chroma-secondary-b)
  --cyan-background-field-disabled: var(--chroma-secondary-i)
  --cyan-background-field-error: var(--chroma-alert-field-tint)
  // Border
  --cyan-border-color-field: var(--chroma-secondary-f)
  --cyan-border-color-field-hover: var(--chroma-secondary-g)
  --cyan-border-color-field-active: var(--chroma-secondary-h)
  --cyan-border-color-field-disabled: var(--chroma-secondary-h)
  --cyan-border-color-field-error: var(--chroma-alert)