.cyan--mode--light
  --cyan-background-nav-button-hover: var(--chroma-secondary-i)
  --cyan-background-nav-button-active: var(--chroma-secondary-h)
 
.cyan--mode--dark
  --cyan-background-nav-button-hover: hsla(var(--chroma-secondary-f-hsl), 0.22)
  --cyan-background-nav-button-active: hsla(var(--chroma-secondary-f-hsl), 0.44)

  