:root
  --cyan-ui-font-family: 'Roboto', sans-serif
  --cyan-ui-font-size: 14px
  --cyan-ui-font-weight: 400
  --cyan-ui-line-height: 14px
  // Monospace, code etc
  --cyan-monospace-font-family: 'Roboto Mono', monospace
  --cyan-monospace-font-size: 14px
  --cyan-monospace-font-weight: 500
  --cyan-monospace-line-height: 24px
  // Headers
  --cyan-h1-font-size: 48px
  --cyan-h1-font-weight: 400
  --cyan-h1-line-height: 56px
  // Basic text
  --cyan-text-font-family: 'Cabin',sans-serif
  --cyan-text-font-size: 17px
  --cyan-text-font-weight: 400
  --cyan-text-line-height: 24px
  --cyan-text-letter-spacing: 0.5px

  // Inputs
  --cyan-field-label-font-size: 10px
  --cyan-field-label-font-weight: 400
  --cyan-field-label-line-height: 12px
  --cyan-field-label-letter-spacing: 0.5px

span.code
  background-color: red
