
// Complete solution based on the ideas presented in
// https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/ 
:root
  // Support for dark and light mode available
  color-scheme: light dark

  // Material inspired text-opacity
  --text-high-opacity: 1
  --text-medium-opacity: 0.87
  --text-low-opacity: 0.60
  
  .cyan--mode--light
    // Headers
    --cyan-heading-color-a: var(--chroma-secondary-e)
    --cyan-heading-color-b: var(--chroma-secondary-b)
    // Cleaned ^
    --cyan-app-base-color: #fff
    --cyan-toggle-knob-color-on: #a2e4ec
    --cyan-toggle-knob-color-off: #e7fbfb
    --cyan-toggle-knob-back-color-off: #76c8d5
    --cyan-toggle-knob-back-color-on: #53abbb
    
    --cyan-text-color: #334f5f
    --cyan-base-color: #ffffff
    --cyan-ui-color: #334f5f
    // Hover color for buttons, links, etc
    --cyan-ui-hover-shadow-color: #334f5f
    --cyan-ui-active-shadow-color: #388ea1
    // Code
    --cyan-code-color: var(--chroma-secondary-c)
    --cyan-code-background-color: var(--chroma-secondary-i)
    // Inputs
    --cyan-field-label-color: var(--chroma-secondary-f)
    --cyan-field-background-color: var(--chroma-secondary-i)
    --cyan-field-hover-background-color: var(--chroma-secondary-h)
    --cyan-field-border-color: var(--chroma-secondary-g)
    --cyan-field-focus-border-color: var(--chroma-secondary-c)
    --cyan-field-focus-background-color: var(--chroma-secondary-i)
    --cyan-field-placeholder-color: var(--chroma-secondary-c)
    --cyan-field-error-border-color: #bb1187
    --cyan-field-error-color: #bb1187
    --cyan-field-error-background-color: rgba(187, 17, 135, 0.2)
    
    --cyan-rise-c-box-shadow: 4px 4px 22px 0px var(--chroma-secondary-g)
    --cyan-rise-c-background-color: #fff
    --cyan-menu-item-hover-background-color: var(--chroma-secondary-i)
    --cyan-menu-item-text-color: var(--chroma-secondary-f)
    
  .cyan--mode--dark
    --cyan-app-base-color: #121212
    --cyan-base-color: #121212
    --cyan-heading-color: #a2e4ec
    --cyan-text-color: rgba(255, 255, 255, 0.87)
    --cyan-toggle-knob-color-on: var(--chroma-primary-g)
    --cyan-toggle-knob-color-off: var(--chroma-secondary-d)
    --cyan-toggle-knob-back-color-off: var(--chroma-secondary-b)
    --cyan-toggle-knob-back-color-on: var(--chroma-primary-a)
    --cyan-ui-color: #e7fbfb
    // Hover color for buttons, links, etc
    --cyan-ui-hover-shadow-color: #53abbb
    --cyan-ui-active-shadow-color:#a2e4ec
    // Inputs
    --cyan-field-label-color: var(--chroma-secondary-g)
    --cyan-field-background-color: var(--chroma-secondary-a)
    --cyan-field-hover-background-color: var(--chroma-secondary-b)
    --cyan-field-border-color: var(--chroma-secondary-d)
    --cyan-field-focus-border-color: var(--chroma-secondary-g)
    --cyan-field-focus-background-color: var(--chroma-secondary-c)
    --cyan-field-placeholder-color: var(--chroma-secondary-c)
    --cyan-field-error-border-color: #bb1187
    --cyan-field-error-color: #bb1187
    --cyan-field-error-background-color: rgba(187, 17, 135, 0.2)
    // Menu
    --cyan-rise-c-box-shadow: 0px 0px 10px 2px black
    --cyan-rise-c-background-color: var(--chroma-secondary-b)
    --cyan-menu-item-hover-background-color: var(--chroma-secondary-c)
    --cyan-menu-item-text-color: var(--chroma-secondary-i)
