// UI Elements
:root
  --cyan-ui-font-family: 'Cabin', 'Roboto', sans-serif
  --cyan-ui-font-size: 16px
  --cyan-ui-letter-spacing: 1.25px
  --cyan-ui-line-height: 24px
  --cyan-ui-font-weight: 400

@mixin TypeUI
  font-family: var(--cyan-ui-font-family)
  font-size: var(--cyan-ui-font-size)
  letter-spacing: var(--cyan-ui-letter-spacing)
  line-height: var(--cyan-ui-line-height)
  font-weight: var(--cyan-ui-font-weight)

.TypeUI
  @include TypeUI

:root
  // Monospace, code etc
  --cyan-monospace-font-family: 'Roboto Mono', monospace
  --cyan-monospace-font-size: 14px
  --cyan-monospace-font-weight: 500
  --cyan-monospace-line-height: 24px
  // Headers
  --cyan-heading-font-family: 'Overpass', sans-serif
  --cyan-heading-font-weight: 200
  --cyan-h1-font-size: 48px
  --cyan-h1-font-weight: 400
  --cyan-h1-line-height: 56px
  // Basic text
  --cyan-text-font-family: 'Cabin',sans-serif
  --cyan-text-font-size: 17px
  --cyan-text-font-weight: 400
  --cyan-text-line-height: 24px
  --cyan-text-letter-spacing: 0.5px

  // Inputs
  --cyan-field-label-font-size: 10px
  --cyan-field-label-font-weight: 400
  --cyan-field-label-line-height: 12px
  --cyan-field-label-letter-spacing: 0.5px

@mixin TypeHeadline3()
  font-size: 48px
  letter-spacing: 0px
  line-height: 56px
  margin: 0
  padding: 0
  margin-bottom: 24px

@mixin TypeHeadline4()
  font-size: 34px
  letter-spacing: 0.25px
  line-height: 56px
  margin: 0
  padding: 0
  margin-bottom: 12px

@mixin TypeHeadline5()
  font-size: 25px
  letter-spacing: 0px
  line-height: 32px
  margin: 0
  margin-top: 8px
  padding: 0
  margin-bottom: 12px

@mixin TypeHeadline6()
  font-size: 20px
  letter-spacing: 0.15px
  line-height: 32px
  margin: 0
  margin-top: 8px
  padding: 0

h1, h2, h3, h4
  font-family: var(--cyan-heading-font-family)
  font-weight: var(--cyan-heading-font-weight)

h1, h2
  color: var(--cyan-heading-color-a)

h3, h4
  color: var(--cyan-heading-color-b)

h1, .TypeHeadline3
  @include TypeHeadline3()

h2, .TypeHeadline4
  @include TypeHeadline4()

h3, .TypeHeadline5
  @include TypeHeadline5()

h4, .TypeHeadline6
  @include TypeHeadline6()

