:root {
  --cyan-grid-gap: 24px;
  --cyan-margin: 12px;
  --cyan-padding: 12px;
  --cyan-font-size-button: 18px;
  --cyan-bar-gap: 24px;
  --cyan-ui-font-family: "Cabin","Roboto",sans-serif;
  --cyan-ui-font-size: 16px;
  --cyan-ui-font-weight: 400;
  --cyan-ui-line-height: 24px;
}
