@import theming/hamburger.sass
@import theming/snackbar.sass
@import theming/toolbar.sass

// Complete solution based on the ideas presented in
// https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/ 
:root
  // Support for dark and light mode available
  color-scheme: light dark

  // Material inspired text-opacity
  --text-high-opacity: 1
  --text-medium-opacity: 0.87
  --text-low-opacity: 0.60

  --cyan-fab-background-color: var(--chroma-primary-h)
  --cyan-fab-background-color-hover: var(--chroma-primary-h)
  --cyan-fab-background-color-active: var(--chroma-primary-g)
  --cyan-fab-color: var(--chroma-secondary-c)

  --cyan-fab-background-color-secondary: var(--chroma-secondary-e)
  --cyan-fab-background-color-secondary-hover: var(--chroma-secondary-f)
  --cyan-fab-background-color-secondary-active: var(--chroma-secondary-d)
  --cyan-fab-color-secondary: var(--chroma-secondary-h)
  
  .cyan--mode--light
    --cyan-background-color: #fff

    // Bubbles
    --cyan-bubble-background-color-a: rgba(155, 221, 77, 0.4)
    --cyan-bubble-background-color-b: rgba(155, 221, 77, 0.2)

    // Headers
    --cyan-heading-color-a: var(--chroma-secondary-e)
    --cyan-heading-color-b: var(--chroma-secondary-b)

    // UI text
    --cyan-UI-text-color: rgba(0,0,0,var(--text-high-opacity))
    --cyan-UI-text-color-hover: rgba(0,33,50,var(--text-medium-opacity))
    --cyan-UI-text-color-active: rgba(0,75,100,var(--text-low-opacity))
    --cyan-UI-text-color-disabled: rgba(0,0,0,var(--text-low-opacity))
    --cyan-ui-color: var(--cyan-UI-text-color)
    --cyan-ui-color-hover: var(--cyan-UI-text-color-hover)
    --cyan-ui-color-active: var(--cyan-UI-text-color-active)

    // Basic text
    --cyan-low-emphasis-color: rgba(0, 35, 55, var(--text-low-opacity))
    --cyan-text-color: rgba(0, 35, 55, var(--text-medium-opacity))
    --cyan-high-emphasis-color: rgba(0, 35, 55, var(--text-high-opacity))

    --cyan-link-color: var(--chroma-secondary-f)
    --cyan-link-color-hover: var(--chroma-secondary-e)

    --cyan-divider-color: var(--chroma-secondary-h)
    --cyan-nav-header-color: var(--chroma-secondary-f)
    
    // Button, primary
    --cyan-button-color: var(--chroma-secondary-i)
    --cyan-button-color-disabled: var(--chroma-secondary-g)
    --cyan-button-background-color: var(--chroma-primary-c)
    --cyan-button-background-color-hover: var(--chroma-primary-d)
    --cyan-button-background-color-active: var(--chroma-primary-a)
    --cyan-button-background-color-disabled: var(--chroma-secondary-i)
    --cyan-button-border-color-disabled: var(--chroma-secondary-h)

    --cyan-button-shadow-color: var(--chroma-secondary-g)
    --cyan-button-shadow-color-hover: var(--chroma-secondary-f)
    --cyan-button-shadow-color-active: var(--chroma-secondary-e)

    // Button, secondary
    --cyan-button-secondary-color: var(--chroma-secondary-i)
    --cyan-button-secondary-background-color: var(--chroma-secondary-d)
    --cyan-button-secondary-background-color-hover: var(--chroma-secondary-e)
    --cyan-button-secondary-background-color-active: var(--chroma-secondary-c)

    // Button, text
    --cyan-button-text-background-color-hover: var(--chroma-primary-i)
    --cyan-button-text-background-color-active: var(--chroma-primary-h)
    --cyan-button-text-background-color-disabled: var(--chroma-secondary-i)
    --cyan-button-text-color-disabled: var(--chroma-secondary-e)
    --cyan-button-text-color-background: var(--chroma-secondary-i)

    // Button, Navigation
    --cyan-nav-button-hover-background-color: var(--chroma-secondary-i)
    --cyan-nav-button-active-background-color: var(--chroma-secondary-h)

    // Button, Hamburger
    --cyan-hamburger-color: var(--chroma-secondary-c)

    // Menu
    --cyan-menu-focus-background-color: var(--chroma-secondary-i)
    --cyan-menu-item-secondary-background-color: var(--chroma-primary-i)
    --cyan-menu-item-secondary-background-color-hover: var(--chroma-secondary-h)

    // Tags
    --cyan-tag-background-color: var(--chroma-secondary-i)
    --cyan-tag-background-color-hover: var(--chroma-secondary-h)
    --cyan-tag-background-color-active: var(--chroma-secondary-g)
    --cyan-tag-secondary-background-color: var(--chroma-secondary-h)

    --cyan-tag-color: var(--chroma-secondary-f)
    --cyan-tag-action-background-color: var(--chroma-secondary-h)

    --cyan-tag-background-color-secondary: var(--chroma-primary-h)
    --cyan-tag-background-color-secondary-hover: var(--chroma-primary-g)
    --cyan-tag-background-color-secondary-active: var(--chroma-primary-i)

    --cyan-tag-background-color-disabled: var(--chroma-secondary-i)

    // Cleaned ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^


    --cyan-toggle-knob-color-on: #a2e4ec
    --cyan-toggle-knob-color-off: #e7fbfb
    --cyan-toggle-knob-back-color-off: #76c8d5
    --cyan-toggle-knob-back-color-on: #53abbb
    
    --cyan-text-color: #334f5f
    --cyan-base-color: #ffffff
    
    // Hover color for buttons, links, etc
    --cyan-ui-hover-shadow-color: #334f5f
    --cyan-ui-active-shadow-color: #388ea1
    // Code
    --cyan-code-color: var(--chroma-secondary-c)
    --cyan-code-background-color: var(--chroma-secondary-i)
    // Inputs
    --cyan-field-label-color: var(--chroma-secondary-f)
    --cyan-field-background-color: var(--chroma-secondary-i)
    --cyan-field-hover-background-color: var(--chroma-secondary-h)
    --cyan-field-border-color: var(--chroma-secondary-g)
    --cyan-field-focus-border-color: var(--chroma-secondary-c)
    --cyan-field-focus-background-color: var(--chroma-secondary-i)
    --cyan-field-placeholder-color: var(--chroma-secondary-c)
    --cyan-field-error-border-color: #bb1187
    --cyan-field-error-color: #bb1187
    --cyan-field-error-background-color: rgba(187, 17, 135, 0.2)
    
    --cyan-rise-c-box-shadow: 4px 4px 22px 0px var(--chroma-secondary-g)
    --cyan-rise-c-background-color: #fff
    --cyan-menu-item-hover-background-color: var(--chroma-secondary-i)
    --cyan-menu-item-text-color: var(--chroma-secondary-f)
    
  .cyan--mode--dark
    --cyan-background-color: #002337

    // Button, Hamburger
    --cyan-hamburger-color: var(--chroma-secondary-g)

    // Code
    --cyan-code-color: var(--chroma-secondary-h)
    --cyan-code-background-color: var(--chroma-secondary-c)

    // Button, text
    --cyan-button-text-background-color-hover: var(--chroma-secondary-c)
    --cyan-button-text-background-color-active: var(--chroma-primary-c)
    --cyan-button-text-background-color-disabled: var(--chroma-secondary-b)
    --cyan-button-text-color-disabled: var(--chroma-secondary-d)
    --cyan-button-text-color-background: rgba(0,23,37, 0.22)

    // Bubbles
    --cyan-bubble-background-color-a: rgba(155, 221, 77, 0.4)
    --cyan-bubble-background-color-b: rgba(155, 221, 77, 0.2)
    
    // Basic text
    --cyan-low-emphasis-color: rgba(231, 251, 251, var(--text-low-opacity))
    --cyan-text-color: rgba(231, 251, 251, var(--text-medium-opacity))
    --cyan-high-emphasis-color: rgba(231, 251, 251, var(--text-high-opacity))

    // ^Cleaned up to here
    --cyan-base-color: #121212
    --cyan-heading-color: #a2e4ec
    --cyan-text-color: rgba(255, 255, 255, 0.87)
    --cyan-toggle-knob-color-on: var(--chroma-primary-g)
    --cyan-toggle-knob-color-off: var(--chroma-secondary-d)
    --cyan-toggle-knob-back-color-off: var(--chroma-secondary-b)
    --cyan-toggle-knob-back-color-on: var(--chroma-primary-a)
    --cyan-ui-color: #e7fbfb
    // Hover color for buttons, links, etc
    --cyan-ui-hover-shadow-color: #53abbb
    --cyan-ui-active-shadow-color:#a2e4ec
    // Inputs
    --cyan-field-label-color: var(--chroma-secondary-g)
    --cyan-field-background-color: var(--chroma-secondary-a)
    --cyan-field-hover-background-color: var(--chroma-secondary-b)
    --cyan-field-border-color: var(--chroma-secondary-d)
    --cyan-field-focus-border-color: var(--chroma-secondary-g)
    --cyan-field-focus-background-color: var(--chroma-secondary-c)
    --cyan-field-placeholder-color: var(--chroma-secondary-c)
    --cyan-field-error-border-color: #bb1187
    --cyan-field-error-color: #bb1187
    --cyan-field-error-background-color: rgba(187, 17, 135, 0.2)
    // Menu
    --cyan-rise-c-box-shadow: 0px 0px 10px 2px black
    --cyan-rise-c-background-color: var(--chroma-secondary-b)
    --cyan-menu-item-hover-background-color: var(--chroma-secondary-c)
    --cyan-menu-item-text-color: var(--chroma-secondary-i)

a
  color: var(--cyan-link-color)
  text-decoration: none
  &:hover
    color: var(--cyan-link-color-hover)
    text-decoration: underline

a
  cyan-nav-button
    color: var(--cyan-ui-color)
a:hover
  cyan-nav-button
    color: var(--cyan-ui-color-hover)
a:active
  cyan-nav-button
    color: var(--cyan-ui-color-active)