@import atomics/dontBreakOut.sass
@import atomics/codeblock.sass
@import atomics/chromaBox.sass
@import atomics/card.sass
@import atomics/rise.sass

.lowEmphasis
  color: var(--cyan-low-emphasis-color)

.highEmphasis
  color: var(--cyan-high-emphasis-color)

@media screen and (max-width: 599px)
  .hideOnMobile
    display: none !important
  .Column
    width: 100%
    flex-shrink: 0
    flex-grow: 0

.cyan--mode--dark cyan-icon img.onDark
  display: block

.cyan--mode--dark cyan-icon img.onLight
  display: none

.cyan--mode--light cyan-icon img.onLight
  display: block

.cyan--mode--light cyan-icon img.onDark
  display: none
