@import 'typography/TypeHeadline.sass'
@import 'typography/TypeHeadline1.sass'
@import 'typography/TypeHeadline2.sass'
@import 'typography/TypeHeadline3.sass'
@import 'typography/TypeHeadline4.sass'
@import 'typography/TypeBody2.sass'
@import 'typography/TypeCaption.sass'
@import 'typography/TypeQuote.sass'
@import 'atomics/dontBreakOut.sass'
@import 'typography/toolbar.sass'
@import 'typography/table.sass'
@import 'typography/list.sass'

// UI Elements
:root
  // Font families
  --cyan-monospace-font-family: 'Roboto Mono', monospace
  --cyan-text-font-family: 'Cabin',sans-serif
  --cyan-ui-font-family: 'Cabin', 'Roboto', sans-serif
  --cyan-font-size-ui-small: 14px
  
  // Cleaned up to here ^
  --cyan-ui-font-size: 16px
  --cyan-ui-letter-spacing: 1.25px
  --cyan-ui-line-height: 24px
  --cyan-ui-font-weight: 400

  --cyan-font-family-field: 'Cabin', 'Roboto', sans-serif
  --cyan-font-size-field: 16px

@mixin TypeUI
  font-family: var(--cyan-ui-font-family)
  font-size: var(--cyan-ui-font-size)
  letter-spacing: var(--cyan-ui-letter-spacing)
  line-height: var(--cyan-ui-line-height)
  font-weight: var(--cyan-ui-font-weight)

.TypeUI
  @include TypeUI

:root
  // Monospace, code etc
  
  --cyan-monospace-font-size: 14px
  --cyan-monospace-font-weight: 500
  --cyan-monospace-line-height: 24px
  // Headers

  // Basic text
  
  --cyan-text-font-size: 17px
  --cyan-text-font-weight: 400
  --cyan-text-line-height: 24px
  --cyan-text-letter-spacing: 0.5px

  // Inputs
  --cyan-field-label-font-family: var(--cyan-ui-font-family)
  --cyan-field-label-font-size: 13px
  --cyan-field-label-font-weight: normal
  --cyan-field-label-line-height: 16px
  --cyan-field-label-letter-spacing: 0.4px

  --cyan-row-gap: 24px
  --cyan-col-gap: 12px

@mixin TypeBody1()
  font-family: var(--cyan-text-font-family)
  font-weight: normal
  font-size: 17px
  line-height: 24px
  letter-spacing: 0.5px

p, .TypeBody1
  @include TypeBody1
  color: var(--cyan-color-high)
p.lowEmphasis
  color: var(--cyan-color-medium)
p[disabled]
  color: var(--cyan-color-disabled)

a
  text-decoration: none
a:hover
  text-decoration: none
p a
  text-decoration: underline
  color: var(--cyan-link-color)