@import ../atomics/dontBreakOut.sass

// Most of the button styles and vars are shared with the modes and themes – so we are defining them
// only once here and only overriding those that need to be different for a theme
.cyan
  --cn-color-button-disabled: hsla(0, 0%, 100%, 0.3)

  // Primary colors
  --cn-background-button: linear-gradient(79deg, var(--chroma-primary-e), var(--chroma-primary-c))
  --cn-background-button-hover: linear-gradient(79deg, var(--chroma-primary-f), var(--chroma-primary-d))
  --cn-background-button-active: linear-gradient(79deg, var(--chroma-primary-c), var(--chroma-primary-a))
  --cn-background-button-disabled: var(--cyan-background-overlay-light)

  // Secondary colors
  --cn-color-button-secondary: var(--chroma-secondary-h)
  --cn-background-button-secondary: linear-gradient(137deg, var(--chroma-primary-a), var(--chroma-secondary-c))
  --cn-background-button-secondary-hover: linear-gradient(137deg, var(--chroma-primary-b), var(--chroma-secondary-d))
  --cn-background-button-secondary-active: linear-gradient(137deg, var(--chroma-primary-a), var(--chroma-secondary-b))
  

.cyan--mode--light, .light
  // Text buttons
  --color-button-text: var(--chroma-secondary-b)
  --cn-background-button-text: var(--chroma-secondary-i)
  --cn-background-button-text-hover: var(--chroma-secondary-h)
  --cn-background-button-text-active: var(--chroma-secondary-g)
  

.cyan--mode--dark, .chroma-box-a, dark
  // Text colors
  --cn-background-button-text: hsla(var(--chroma-secondary-i-hsl), 0.055)
  --cn-background-button-text-hover: hsla(var(--chroma-secondary-i-hsl), 0.11)
  --cn-background-button-text-active: hsla(var(--chroma-secondary-i-hsl), 0.165)

.cyan
  button
    // We want to treat buttons as "dontBreakOut" elements
    @include dontBreakOut
    
    // This should happen at preflight
    border: none
    
    // Font and text
    font-family: var(--cn-font-family-ui)
    font-weight: var(--cn-font-weight-ui)
    font-size: var(--cn-font-size-ui)
    letter-spacing: var(--cn-letter-spacing-ui)

    // Height, width, margin, padding, border, border-radius, box-sizing
    overflow: hidden
    height: 38px
    margin: 5px 0
    padding: 0 16px
    line-height: 38px
    border-radius: 19px
    
    // Colors, theming
    background: var(--cn-background-button) 
    transition: all 0.3s ease-in-out

    cyan-icon
      margin-left: -9px
      margin-top: -5px
      margin-right: 6px
    cyan-icon:last-child
      margin-right: -9px

    &.compact
      line-height: 22px
      margin: 2px 0
      height: 22px
      padding: 0 8px

  button:hover
    background: var(--cn-background-button-hover)

  button:active
    background: var(--cn-background-button-active)

  button:disabled, button[disabled], button[disabled]:hover, button[disabled]:active
    background: var(--cn-background-button-disabled)
    cursor: not-allowed
    cyan-icon
      opacity: 0.3

  button.secondary
    background: var(--cn-background-button-secondary)
    color: var(--cn-color-button-secondary)

  button.secondary:hover
    background: var(--cn-background-button-secondary-hover)

  button.secondary:active
    background: var(--cn-background-button-secondary-active)

  button.secondary:disabled
    background: var(--cn-background-button-disabled)
    cursor: not-allowed
    color: var(--cn-color-button-disabled)

  button.text
    color: var(--color-button-text)
    background: var(--cn-background-button-text)
  button.text:hover
    background: var(--cn-background-button-text-hover)
  button.text:active
    background: var(--cn-background-button-text-active)

// Cyan icons in buttons
.cyan
  button
    position: relative
    min-width: 38px  
    &:has(cyan-icon)
      text-indent: 22px
    cyan-icon
      position: absolute
      top: 4px
      left: -12px
      &[small]
        top: 10px
        left: -6px
